<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../static/css/registerForm.css" th:href="@{/css/registerForm.css}" />
    <title>Nuevo Diagnostico</title>
    <script th:inline="javascript">
    $( document ).ready(function() {
        setInterval(function(){
                var d = new Date();
                var hour = d.getHours();
                var min = d.getMinutes();
                var dd = d.getDate();
                var mm = d.getMonth()+1;
                var yyyy = d.getFullYear();

                if(10 > dd){ dd = '0' +  dd; }
                if(10 > mm){ mm = '0' + mm; }
                if(10 > hour){ hour = '0' + hour; }
                if(10 > min){ min = '0' + min; }

                var time = hour + ':' + min;
                d =  yyyy + '-' + mm + '-' + dd;

                /*<![CDATA[*/
                    console.log('Hora y fecha actual: ' + time + ' ' + d);
                    var list = /*[[${listaRecordatoriosCitas}]]*/ 'listaRecordatoriosCitas';
                    var listMotivo = /*[[${listaRecordatoriosCitasMotivo}]]*/ 'listaRecordatoriosCitasMotivo';
                    for(var i=0; i<list.length; i++){
                        console.log(list[i]);
                        console.log(listMotivo[i]);
                        if((time + ' ' + d) == list[i]){
                            window.alert(listMotivo[i]);
                        }
                    }
               /*]]>*/
        }, 60000);
    });
    </script>
</head>
<body>
<div class="formDiagnostico">
<h1>Nuevo Diagnostico</h1>
    <form autocomplete="off" method="post" th:action="@{/guardarDiagnostico}" enctype="multipart/form-data" th:object="${diagnostico}" role="form">
        <input type="hidden" name="perfilId" id="perfilId" th:value="${perfilId}" />
        <p> Titulo: </p>
        <input class="form-control my-0 py-1" th:field="*{titulo}" pattern="^[\S+].{0,29}"
               oninvalid="setCustomValidity('Titulo es campo requerido,no puede comenzar por espacio, solo 30 caracteres.')"
               oninput="setCustomValidity('')"
               required="required"/>
        <p> Doctor: </p>
        <input class="form-control my-0 py-1" th:field="*{doctor}" pattern="^[\S+].{0,29}"
               oninvalid="setCustomValidity('Doctor es campo requerido,no puede comenzar por espacio, solo 30 caracteres.')"
               oninput="setCustomValidity('')"
               required="required" />
        <p> Padecimiento: </p>
        <input class="form-control my-0 py-1" th:field="*{padecimiento}" pattern="^[\S+].{0,149}"
                oninvalid="setCustomValidity('Padecimiento es un campo requerido, no puede comenzar por espacio, solo 150 caracteres.')"
                oninput="setCustomValidity('')"
                required="required" />
        <p> Tratamiento: </p>
        <input class="form-control my-0 py-1" th:field="*{tratamiento}" pattern="^[\S+].{0,149}"
               oninvalid="setCustomValidity('Tratamiento es un campo requerido, no puede comenzar por espacio, solo 150 caracteres.')"
               oninput="setCustomValidity('')"
               required="required" />
        <p> Imagenes: </p>
        <input name="file" type="file" multiple="multiple"/>
        <p> Notas: </p>
        <textarea class="form-control my-0 py-1" th:field="*{observaciones}" maxlength="255"></textarea>
        <p> Fecha: </p>
        <input class="form-control my-0 py-1" name="fecha" id="fecha" type="date"
               oninvalid="setCustomValidity('Fecha es campo requerido.')"
               oninput="setCustomValidity('')"
               required="required" />
        <br />
        <input class="btn btn-primary" type="submit" value="Guardar" />
    </form>
    <br />
    <input class="atras" type="button" onclick="history.back()" name="volver atrás" value="volver atrás"/>
</div>
</body>
</html>