<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:float="http://www.w3.org/1999/xhtml"
      xmlns:class="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Registros</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}" />
    <script th:inline="javascript">
        function verRegistro(id){
            document.getElementById(id).click();
        }
        $( document ).ready(function() {
            var p = document.getElementById("perfil");
            var profileId = p.options[p.selectedIndex].value;
            $('.profileVar').val(profileId);

            $('#perfil').on('change', function() {
                p = document.getElementById("perfil");
                profileId = p.options[p.selectedIndex].value;
                listP = document.getElementsByClassName("profileVar");
                [].forEach.call(listP, function (el) {el.value = profileId});
                this.form.submit();
            })

            $('#invertirLista').on('click', function(){
                 $('tbody').each(function(){
                    var list = $(this).children('tr');
                    $(this).html(list.get().reverse());
                 });
            })
            $('#verPerfilLink').on('click', function(){
                p = document.getElementById("perfil");
                profileId = p.options[p.selectedIndex].value;
                $(this).attr('href', '/verPerfil/' + profileId);
            })
            $('#editarPerfilLink').on('click', function(){
                p = document.getElementById("perfil");
                profileId = p.options[p.selectedIndex].value;
                $(this).attr('href', '/modificarPerfil/' + profileId);
            })
            $('#borrarPerfilLink').on('click', function(){
                p = document.getElementById("perfil");
                profileId = p.options[p.selectedIndex].value;
                if(confirm('Esta seguro de que quiere eliminar el perfil?')){
                    $(this).attr('href', '/eliminarPerfil/' + profileId);
                }
            })
            setInterval(function(){
                var d = new Date();
                var hour = d.getHours();
                var min = d.getMinutes();
                var dd = d.getDate();
                var mm = d.getMonth()+1;
                var yyyy = d.getFullYear();

                if(10 > dd){ dd = '0' +  dd; }
                if(10 > mm){ mm = '0' + mm; }
                if(10 > hour){ hour = '0' + hour; }
                if(10 > min){ min = '0' + min; }

                var time = hour + ':' + min;
                d =  yyyy + '-' + mm + '-' + dd;

                /*<![CDATA[*/
                    console.log('Hora y fecha actual: ' + time + ' ' + d);
                    var list = /*[[${listaRecordatoriosCitas}]]*/ 'listaRecordatoriosCitas';
                    var listMotivo = /*[[${listaRecordatoriosCitasMotivo}]]*/ 'listaRecordatoriosCitasMotivo';
                    for(var i=0; i<list.length; i++){
                        console.log(list[i]);
                        console.log(listMotivo[i]);
                        if((time + ' ' + d) == list[i]){
                            window.alert(listMotivo[i]);
                        }
                    }
               /*]]>*/
            }, 60000);
        });
    </script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand" >Perfiles:</span>
        </div>
        <ul class="nav navbar-nav" style="padding-top: 10px;">
            <form th:action="@{/}" method="get">
                <select class="form-control"  name="perfil" id="perfil">
                    <option th:each="perfil: ${perfiles}" th:value="${perfil.id}" th:text="${perfil.name}"
                            th:selected="(${perfilActual.id} == ${perfil.id})"></option>
                </select>
            </form>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="cerrarSesionbutton" onclick="window.location.href='/logout'" ><span class="glyphicons glyphicons-exit"></span>Cerrar sesion</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a id="verPerfilLink" href="#"><span class="glyphicon glyphicon-eye-open"></span>Ver perfil</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a id="borrarPerfilLink" href="#"><span class="glyphicon glyphicon-remove"></span>Eliminar perfil</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a id="editarPerfilLink" href="#"><span class="glyphicon glyphicon-edit"></span>Editar perfil</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="${'/nuevoPerfil'}"><span class="glyphicon glyphicon-plus"></span>Nuevo perfil</a></li>
        </ul>

    </div>
</nav>
<div class="fondo">
    <a class="escogido">Registros</a>
    <form class="formbuton" th:action="@{/Diagnosticos}" method="get" >
        <input type="hidden" class="profileVar" value="" id="perfil" name="perfil"/>
        <button  type="Submit" class="registerbutton"><a class="abutton">Diagnosticos</a></button>
    </form>
    <form class="formbuton" th:action="@{/Analisis}" method="get" >
        <input type="hidden" class="profileVar" value="" id="perfil" name="perfil"/>
        <button  type="Submit" class="registerbutton"><a>Analisis</a></button>
    </form>
    <form class="formbuton" th:action="@{/Consultas}" method="get" >
        <input type="hidden" class="profileVar" value="" id="perfil" name="perfil"/>
        <button  type="Submit" class="registerbutton"><a>Consultas</a></button>
    </form>
    <form class="formbuton" th:action="@{/Recordatorios}" method="get" >
        <input type="hidden" class="profileVar" value="" id="perfil" name="perfil"/>
        <button  type="Submit" class="registerbutton"><a>Recordatorios</a></button>
    </form>
    <div class="btn-group" style="padding-top: 25px;" id="divButton">
        <form class="formbuton" th:action="@{/nuevoDiagnostico}" method="get" >
            <input type="hidden" class="profileVar" value="" id="perfilId" name="perfilId"/>
            <button  type="Submit" class="btn btn-primary">Nuevo Diagnostico</button>
        </form>
        <form  class="formbuton" th:action="@{/nuevoAnalisis}" method="get">
            <input type="hidden" class="profileVar" value="" id="perfilId" name="perfilId"/>
            <button type="Submit" class="btn btn-primary" >Nuevo Analisis</button>
        </form>
        <form  class="formbuton" th:action="@{/nuevaConsulta}" method="get">
            <input type="hidden" class="profileVar" value="" id="perfilId" name="perfilId"/>
            <button  type="Submit" class="btn btn-primary">Nueva Consulta</button>
        </form>
    </div>
</div>
<h1> Historial de Registros</h1>
<table class="table table-hover" >
    <thead>
    <tr>
        <th><a id="invertirLista" href="#">Fecha</a></th>
        <th>Tipo de registro</th>
        <th>Titulo</th>
        <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="registro : ${registroLista}" th:onclick="|verRegistro('${registro.id}')|" >
        <td th:text="${registro.fecha}"></td>
        <td th:text="${registro.tipo}"></td>
        <td th:text="${registro.titulo}"></td>
        <td>
            <a th:id="${registro.id}" type="button" th:href="${'/' + registro.tipo + '/' + registro.id}" hidden="hidden">Ver</a>
            <a th:href="${'/modificar' + registro.tipo + '/' + registro.id}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a onclick="event.stopPropagation(); return confirm('Esta seguro de que quiere eliminar el elemento?');" th:href="${'/eliminar' + registro.tipo + '/' + registro.id}">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<a id="test" href="#"></a>
</body>
</html>