<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../static/css/logginPage.css" th:href="@{/css/logginPage.css}" />
</head>
<body>
    <h1>Bienvenido al Sistema de Registro de Historial Medico</h1>
    <div class="formato">
        <div class="container">
            <div>
                <h2><strong>Iniciar sesion </strong></h2>
            </div>
            <form th:action="@{/login}" method="POST">
                <input class="form-control my-0 py-1" style="width: 200px;" type="text" id="username" name="username"  placeholder="Nombre de usuario"/><br />
                <input class="form-control my-0 py-1" style="width: 200px;" type="password" placeholder="Constraseña" id="password" name="password" /><br />
                <button class="btn btn-primary" name="Submit" value="Login" type="Submit">Ingresar</button>
            </form>
            <br />
            <a th:href="@{/registration}" method="GET">Registrarme</a>
        </div>
    </div>
</body>
</html>