<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Recordatorios</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}" />
    <script th:inline="javascript">
        function verRecordatorio(id){
            document.getElementById(id).click();
        }
        $( document ).ready(function() {
            var p = document.getElementById("perfil");
            var profileId = p.options[p.selectedIndex].value;
            $('.profileVar').val(profileId);

            $('#perfil').on('change', function() {
                p = document.getElementById("perfil");
                profileId = p.options[p.selectedIndex].value;
                listP = document.getElementsByClassName("profileVar");
                [].forEach.call(listP, function (el) {el.value = profileId});
                this.form.submit();
            })

            $('#invertirLista').on('click', function(){
                 $('tbody').each(function(){
                    var list = $(this).children('tr');
                    $(this).html(list.get().reverse());
                 });
            })
            $('#verPerfilLink').on('click', function(){
                p = document.getElementById("perfil");
                profileId = p.options[p.selectedIndex].value;
                $(this).attr('href', '/verPerfil/' + profileId);
            })
            $('#editarPerfilLink').on('click', function(){
                p = document.getElementById("perfil");
                profileId = p.options[p.selectedIndex].value;
                $(this).attr('href', '/modificarPerfil/' + profileId);
            })
            $('#borrarPerfilLink').on('click', function(){
                p = document.getElementById("perfil");
                profileId = p.options[p.selectedIndex].value;
                if(confirm('Esta seguro de que quiere eliminar el perfil?')){
                    $(this).attr('href', '/eliminarPerfil/' + profileId);
                }
            })
            $('#citasFunction').on('click', function(){
                p = document.getElementById("formCitas").submit();
            })
            $('#medicamentosFunction').on('click', function(){
                p = document.getElementById("formMedicamentos").submit();
            })
            setInterval(function(){
                var d = new Date();
                var hour = d.getHours();
                var min = d.getMinutes();
                var dd = d.getDate();
                var mm = d.getMonth()+1;
                var yyyy = d.getFullYear();

                if(10 > dd){ dd = '0' +  dd; }
                if(10 > mm){ mm = '0' + mm; }
                if(10 > hour){ hour = '0' + hour; }
                if(10 > min){ min = '0' + min; }

                var time = hour + ':' + min;
                d =  yyyy + '-' + mm + '-' + dd;

                /*<![CDATA[*/
                    console.log('Hora y fecha actual: ' + time + ' ' + d);
                    var list = /*[[${listaRecordatoriosCitas}]]*/ 'listaRecordatoriosCitas';
                    var listMotivo = /*[[${listaRecordatoriosCitasMotivo}]]*/ 'listaRecordatoriosCitasMotivo';
                    for(var i=0; i<list.length; i++){
                        console.log(list[i]);
                        console.log(listMotivo[i]);
                        if((time + ' ' + d) == list[i]){
                            window.alert(listMotivo[i]);
                        }
                    }
               /*]]>*/
            }, 60000);
        });
    </script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand" >Perfiles:</span>
        </div>
        <ul class="nav navbar-nav" style="padding-top: 10px;">
            <form th:action="@{/}" method="get">
                <select class="form-control"  name="perfil" id="perfil">
                    <option th:each="perfil: ${perfiles}" th:value="${perfil.id}" th:text="${perfil.name}"
                            th:selected="(${perfilActual.id} == ${perfil.id})"></option>
                </select>
            </form>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="cerrarSesionbutton" onclick="window.location.href='/logout'" ><span class="glyphicons glyphicons-exit"></span>Cerrar sesion</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a id="verPerfilLink" href="#"><span class="glyphicon glyphicon-eye-open"></span>Ver perfil</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a id="borrarPerfilLink" href="#"><span class="glyphicon glyphicon-remove"></span>Eliminar perfil</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a id="editarPerfilLink" href="#"><span class="glyphicon glyphicon-edit"></span>Editar perfil</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="${'/nuevoPerfil'}"><span class="glyphicon glyphicon-plus"></span>Nuevo perfil</a></li>
        </ul>
    </div>
</nav>
<div class="fondo">
    <form class="formbuton" th:action="@{/}" method="get" >
        <input type="hidden" class="profileVar" value="" id="perfil" name="perfil"/>
        <button  type="Submit" class="registerbutton"><a class="abutton">Registros</a></button>
    </form>
    <form class="formbuton" th:action="@{/Diagnosticos}" method="get" >
        <input type="hidden" class="profileVar" value="" id="perfil" name="perfil"/>
        <button  type="Submit" class="registerbutton"><a class="abutton">Diagnosticos</a></button>
    </form>
    <form class="formbuton" th:action="@{/Analisis}" method="get" >
        <input type="hidden" class="profileVar" value="" id="perfil" name="perfil"/>
        <button  type="Submit" class="registerbutton"><a class="abutton">Analisis</a></button>
    </form>
    <form class="formbuton" th:action="@{/Consultas}" method="get" >
        <input type="hidden" class="profileVar" value="" id="perfil" name="perfil"/>
        <button  type="Submit" class="registerbutton"><a class="abutton">Consulta</a></button>
    </form>
    <a class="escogido">Recordatorios</a>

    <div class="btn-group" style="padding-top: 25px;" id="divButton">
        <form  class="formbuton" th:action="@{/nuevoRecordatorioCitaMedica}" method="get">
            <input type="hidden" class="profileVar" value="" id="perfilId" name="perfilId"/>
            <button type="Submit" class="btn btn-primary">Nueva Cita medica</button>
        </form>
        <form  class="formbuton" th:action="@{/nuevoRecordatorioTomaDeMedicamento}" method="get">
            <input type="hidden" class="profileVar" value="" id="perfilId" name="perfilId"/>
            <button type="Submit" class="btn btn-primary">Nuevo Toma de medicamentos</button>
        </form>
    </div>
    <div class="fondoRecordatorios">
        <a class="aRecordatorios escogidoRecordatorios">Todos los recordatorios</a>
        <a id="citasFunction" href="#" class="aRecordatorios">Citas medicas</a>
        <a id="medicamentosFunction" href="#" class="aRecordatorios">Toma de medicamentos</a>
        <form id="formCitas" hidden="hidden" th:action="@{/Citas}" method="get" >
            <input type="hidden" class="profileVar" value="" id="perfil" name="perfil"/>
        </form>
        <form id="formMedicamentos" hidden="hidden" th:action="@{/Medicamentos}" method="get" >
            <input type="hidden" class="profileVar" value="" id="perfil" name="perfil"/>
        </form>
    </div>
    <h1>Todos lo Recordatorios</h1>
    <div>
    <table class="table table-hover" >
        <thead>
        <tr>
            <th> </th>
            <th>
                Motivo
            </th>
            <th>
                Tipo
            </th>
            <th>
                Observaciones
            </th>
            <th>
                Fecha
            </th>
           <th>
                Opciones
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="recordatorio : ${listRecordatorios}" th:onclick="|verRecordatorio('${recordatorio.id}')|">
            <td>
                <input type="checkbox" name="estado" value="1"/>
            </td>
            <td th:text="${recordatorio.motivo}"></td>
            <div th:switch="${recordatorio.tipo}">
                <td th:case="'cita'">Cita Medica</td>
                <td th:case="'medicamento'">Toma de Medicamento</td>
            </div>
            <td th:text="${recordatorio.observaciones}"></td>
            <td th:text="${recordatorio.fecha}"></td>

            <td>
                <a th:id="${recordatorio.id}" type="button" th:href="${'/verRecordatorio/' + recordatorio.id}" hidden="hidden">Ver</a>
                <a th:href="${'/modificarRecordatorio/' + recordatorio.id}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a onclick="event.stopPropagation(); return confirm('Esta seguro de que quiere eliminar el elemento?');" th:href="${'/eliminarRecordatorio/' + recordatorio.id}">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
</body>
</html>