<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../static/css/showregister.css" th:href="@{/css/showregister.css}" />
    <link rel="stylesheet" href="../static/css/registerForm.css" th:href="@{/css/registerForm.css}"  />
    <title>Ver Analisis</title>
    <script th:inline="javascript">
     $( document ).ready(function() {
        $('#print').on('click', function(){
            window.print();
        })
        setInterval(function(){
                var d = new Date();
                var hour = d.getHours();
                var min = d.getMinutes();
                var dd = d.getDate();
                var mm = d.getMonth()+1;
                var yyyy = d.getFullYear();

                if(10 > dd){ dd = '0' +  dd; }
                if(10 > mm){ mm = '0' + mm; }
                if(10 > hour){ hour = '0' + hour; }
                if(10 > min){ min = '0' + min; }

                var time = hour + ':' + min;
                d =  yyyy + '-' + mm + '-' + dd;

                /*<![CDATA[*/
                    console.log('Hora y fecha actual: ' + time + ' ' + d);
                    var list = /*[[${listaRecordatoriosCitas}]]*/ 'listaRecordatoriosCitas';
                    var listMotivo = /*[[${listaRecordatoriosCitasMotivo}]]*/ 'listaRecordatoriosCitasMotivo';
                    for(var i=0; i<list.length; i++){
                        console.log(list[i]);
                        console.log(listMotivo[i]);
                        if((time + ' ' + d) == list[i]){
                            window.alert(listMotivo[i]);
                        }
                    }
               /*]]>*/
        }, 60000);
       })
    </script>
</head>
<body>

<div style="display: flex;">
    <a class="btn btn-primary" type="button" id="print" href="#" > <span class="glyphicon glyphicon-print"></span> </a>
    <form  class="formbuton" th:action="@{/pdfAnalisisDetalles}" method="get">
        <button  type="Submit" class="btn btn-success" formtarget="_blank">PDF</button>
    </form>
</div>

<div class="container">
    <div class="formato">
        <h1>Detalles del analisis</h1>
        <b> Titulo: </b> <p  th:text="${analisis.titulo}"></p>
        <b> Tipo de analisis: </b> <p  th:text="${analisis.tipoDeAnalisis}"></p>
        <div th:if="${existenFotos}">
            <p>Imagenes:</p>
            <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 500px; height: 350px;">
                <div class="carousel-inner">
                    <div class="item active">
                        <p><a th:href="${'/verImagen/' + firstFoto.id}">
                            <img  th:src="@{'data:image/jpg;base64,' + ${firstFoto.auxEncoded} }" style="width: 500px; height: 350px;"/>
                        </a></p>
                    </div>
                    <div class="item" th:each="foto: ${fotos}">
                        <p><a th:href="${'/verImagen/' + foto.id}">
                            <img  th:src="@{'data:image/jpg;base64,' + ${foto.auxEncoded} }" style="width: 500px; height: 350px;"/>
                        </a></p>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <b>Observaciones:</b> <p th:text="${analisis.observaciones}"></p>
        <b>Fecha: </b> <p  th:text="${analisis.fecha}"> </p>
    </div>
    <br />
    <input class="atras" type="button" onclick="history.back()" name="volver atrás" value="volver atrás"/>
</div>
</body>
</html>